table, th, td {
    border: 1px solid;
    width: 100%;
    height:40px;
    padding: 12px;
    table-layout: fixed;
}
.timeTh {
    border: 1px solid;
    width: 100%;
    height: 40px;
    padding: 12px;
    table-layout: fixed;
}

button {
    background: none;
}